[docker]
docker1 ansible_host=

[mysql]
mysql1 ansible_host=


; This parameter makes sure the remote server uses the /usr/bin/python3 Python 3 executable
; instead of /usr/bin/python (Python 2.7).
; Python 2 is not present on recent Ubuntu versions!
[all:vars]
ansible_python_interpreter=/usr/bin/python3